[Unit]
Description=latest-build
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/latest-build
ExecStart=/usr/bin/node index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target